body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
aside{
  background:lightblue;
  position:fixed;
  width:160px;
  height:100%;
  left:0px;
  text-align: left;
}
.hidden{
  display:none;
}
nav{
  background:darkblue;
  color:#fff;
  display:flex;
}
nav button{
  align-self: flex-start;
  border:none;
  background:transparent;
  outline:0;
}
.layout-open{
  margin-left:160px;
}