body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
aside{
  background:lightblue;
  position:fixed;
  width:120px;
  height:100%;
  left:0px;
}
.hidden{
  display:none;
}
nav{
  background:darkblue;
  color:#fff;
  display:flex;
}
nav button{
  align-self: flex-start;
  
}
.layout-open{
  margin-left:120px;
}